<div class="sidenav">
    <a [routerLink]="['create']">Create</a>
    <a [routerLink]="['update']">Update</a>
    <a href="#">Delete</a>
    <a href="#">Execute</a>
    <a href="#">Get</a>
</div>
<div class="main">
    <div class="container">
        <a class="btn btn-secondary" data-toggle="collapse" href="#defaultHeaderForm" role="button" aria-expanded="true" aria-controls="defaultHeaderForm">Default Headers</a>
        <hr>
        <form class="collapse.show multi-collapse" id="defaultHeaderForm">
            <div class="form-group row"  *ngFor="let header of default_headers">
                <label class="col-sm-2 col-form-label">{{header.fieldname}}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="{{header.placeholder}}" data-container="body" data-toggle="tooltip" data-html="true" data-placement="top" title="{{header.description}}">
                </div>
            </div>
        </form>
        <router-outlet></router-outlet>
    </div>
</div>